<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Marketing Analysis</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<section class="search-banner text-white py-3 form-arka-plan" id="search-banner">
    <div class="container py-5 my-5">
        <div class="row text-center pb-4">
            <div class="col-md-12">
                <h2 class="text-white siyah-cerceve">Airline Ticket Booking Prediction</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card acik-renk-form">
                    <div class="card-body">
                      <form action="/predict" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="msld" name="msld" class="form-control" >
                                        <option selected>Month since lead generated</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option> 
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="lgc" name="lgc" class="form-control" >
                                        <option selected>Lead-gen-channel</option>
                                        <option>Network</option>
                                        <option>Direct</option>
                                        <option>Organic</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="gender" name="gender" class="form-control" >
                                        <option selected>Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                  <div class="input-group">
	                              <input type="number" class="form-control" name="age" id="age"  placeholder="Age"/>
			          </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="city" name="city" class="form-control" >
                                        <option selected>City</option>
										<option>Ahmedabad</option>
                                        <option>Bangalore</option>
										<option>Chandigarh</option>
										<option>Chennai</option>
										<option>Cochin</option>
										<option>Delhi</option>
                                        <option>Hyderabad</option>
										<option>Kolkatta</option>
                                        <option>Mumbai</option>
										<option>New Delhi</option>
                                        <option>Surat</option>  
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="loyalty" name="loyalty" class="form-control" >
                                        <option selected>Airline loyalty</option>
                                        <option>None</option>
                                        <option>Base</option>
                                        <option>Silver</option>
                                        <option>Gold</option>
                                        <option>Platinum</option>
                                    </select>
                                </div>
                            </div>
                        </div>
   

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="passengers" name="passengers" class="form-control" >
                                        <option selected>Passengers</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="6months" name="6months" class="form-control" >
                                        <option selected>Enquired in last 6 months</option>
                                        <option>Yes</option>
                                        <option>No</option>

                                    </select>
                                </div>
                            </div>
                                            
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select id="3months" name="3months" class="form-control" >
                                        <option selected>Active in last 3 months</option>
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>                
                        </div>
             
                        <div class="row">
   
                            <div class="col-md-12" style="text-align:center;">
                                <button type="submit" class="btn btn-warning  pl-5 pr-5">Predict</button>
			      
			<br>
    			<br>
                            </div>
                        </div>
                      </form>
                    </div>
                </div>

            </div>

        </div>

    </div>
<div class="col-md-12">
                <h2 class="text-white siyah-cerceve">Marketing Analysis</h2>
{{prediction_text}}
            </div>
</section>
</body>

</html>

<style>
.firma-ara{
    padding-bottom: 100px;
    padding-top: 100px;
}
.form-group{
  padding : 15px;	
}
.form-arka-plan{
    background-image: url("https://gos3.ibcdn.com/flight-1550057390.jpg?format=jpeg&quality=50");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.acik-renk-form{
    background: rgba(255, 255, 255, 0.58);
}
.siyah-cerceve{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
</style>